header {
  background: #6441a5;
  color: #fff;
  min-height: 125px;
}
header h1 {
  font-family: 'Jockey One', sans-serif;
  text-shadow: 0 1px 0 rgb(204,204,204),
               0 2px 0 rgb(201,201,201),
               0 3px 0 rgb(187,187,187),
               0 4px 0 rgb(185,185,185),
               0 5px 0 rgb(170,170,170),
               0 6px 1px rgba(0,0,0,0.1),
               0 0 5px rgba(0,0,0,0.1),
               0 1px 3px rgba(0,0,0,0.3),
               0 3px 5px rgba(0,0,0,0.2),
               0 5px 10px rgba(0,0,0,0.25),
               0 10px 10px rgba(0,0,0,0.2),
               0 20px 20px rgba(0,0,0,0.15);
}
